.Container {
  display: flex;
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
}

.Container.column {
  flex-direction: column;
  height: 100%;
  @media (max-width: 880px) {
    justify-content: space-between;
  }
}
