.Spec {
  width: 107px;

  .primary {
    line-height: 1.2;
    font-weight: 500;
    font-size: 42px;
    color: $red;
  }

  .primary span {
    font-weight: 500;
    font-size: 15px;
  }

  .secondary {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1.5px;
    border-bottom: 3px solid $red;
    padding-bottom: 0.3rem;
  }

  @media (max-width: 500px) {
    width: 90px;

    .primary {
      font-weight: 600;
      font-size: 32px;
    }

    .primary span {
      font-weight: 500;
      font-size: 15px;
    }

    .secondary {
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 1.16667px;
    }
  }
}
